html,
body {
  height: 100vh;
  overflow: hidden !important;
  font-family: 'Noto Sans KR', sans-serif;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
